

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#general {
    width: 1200px;
    margin: 0px auto;
    margin-top: 20px;
    border: 1px solid #ccc;
}

#header {
    width: 100%;
    height: 100%;
    background: rgb(25, 105, 209);
    color: white;
    text-align: center;
    line-height: 70px;
}

.clearfix {
    float: none;
    clear: both;
}

#menu {
    background-color: #f0f0f0ad;
}

#menu ul li {
    /*display: inline-block;*/
    display: block;
    float: left;    
    border-right: 1px solid #ccc;
}

#menu ul li a {
    display: block;
    padding: 15px;
    color: #444;
}

#menu ul li:hover {
    background: rgb(25, 105, 209);
    cursor: pointer;
}

#menu ul li:hover a{
    color: white;
}

#contenido{
    float: left;
    width: 69%;
}

#lateral{
    float: left;
    width: 30%;
    border: 1px solid red;
    min-height: 500px;
    text-align: center;
}

#contenido > h1{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    color: #444;
}

#contenido .caja{
    width: 40%;
    height: 250px;
    background-color: red;
    border:5px solid blue;
    color: white;
    float: left;
    margin: 20px;
    margin-left: 40px;
}

footer{
    width: 100%;
    height: 55px;
    line-height: 55px;
    background: #eee;
    text-align: center;
    color: #444;
    border-top: 1px solid #ccc;
}
